@import "../../_globalColor";


.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 50px;
}
.subTitle {
  color: $subTitle;
}

/* Media Query */
@media only screen and (max-width: 1380px) {
  .achievement-heading {
    font-size: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .achievement-heading {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 12px;
    line-height: normal;
    text-align: center;
  }
  
}

@media only screen and (min-width: 768px) {
  .achievement-heading {
    font-size: 56px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
  }
}
